configuration {
    modi: [ combi ];
    combi-modi: [drun, window, ssh];
    // font: "Fira Code 14";
    icon-theme: "Papirus";
    show-icons: true;
}
@theme "./material.rasi"

* {
  font: "Fira Code 12";
}
element-icon {
    size: 30;
}